body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 20px;
}

footer {
    padding: 1em;
    background-color: rgb(114, 190, 114);
}


img {
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
}


nav {
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;

    border-color: rgb(23, 81, 207);
    border-style: solid;
    padding: 16px;
}

h1 {
    color: rgb(2, 95, 2);

}

nav {
    background-color: orangered;
}

a {
    color: rgb(29, 143, 29);
    text-decoration: none;
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto 1fr;
}

nav a {
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}
